apps/farm-landing/workflow-devis.json
{
  "name": "Farm Manager — Devis Automatique",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "farm-devis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook Formulaire",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Demande reçue\" }",
        "options": {}
      },
      "id": "respond-node",
      "name": "Répondre OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-6",
        "messages": {
          "values": [
            {
              "content": "=Tu es un assistant commercial pour SterveAI Systems, une entreprise tunisienne qui développe des systèmes de gestion agricole avec intelligence artificielle.\n\nUn prospect vient de remplir le formulaire de contact sur notre landing page. Tu dois générer un email de devis personnalisé et professionnel en français.\n\n**Données du prospect :**\n- Nom : {{ $json.body.nom }}\n- Email : {{ $json.body.email }}\n- Situation : {{ $json.body.situation }}\n- Message : {{ $json.body.message || 'Aucun message' }}\n- Date : {{ $json.body.date }}\n\n**Fonctionnalités de Farm Manager :**\n- Tableau de bord avec météo agricole en temps réel\n- Gestion des parcelles avec plan visuel interactif\n- Gestion des stocks avec alertes automatiques et prédiction de rupture\n- Suivi des traitements et récoltes\n- Assistant IA (Claude) qui analyse les données de la ferme\n- Bilan annuel avec comparaison N-1 par variété\n- Export PDF et Excel\n- Alertes automatiques par email (stocks critiques, rapports hebdomadaires)\n- Multi-utilisateurs (patron, ingénieur, gestionnaires)\n- Application mobile installable (PWA)\n\n**Instructions :**\n1. Personnalise le devis selon la situation du prospect (propriétaire, ingénieur, coopérative, autre)\n2. Mets en avant les fonctionnalités les plus pertinentes pour sa situation\n3. Propose une formule d'abonnement mensuel entre 150 et 350 TND selon la complexité\n4. Sois chaleureux, professionnel, et donne envie de démarrer\n5. Termine par une invitation à planifier un appel ou une démo\n6. Écris en français avec quelques mots en arabe pour la proximité\n\nGénère UNIQUEMENT le corps de l'email (HTML simple avec <p> et <strong>), sans objet ni en-tête.",
              "role": "user"
            }
          ]
        },
        "options": {
          "maxTokens": 1200
        }
      },
      "id": "claude-node",
      "name": "Claude — Générer le devis",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [460, 380]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook Formulaire').item.json.body.email }}",
        "subject": "=Votre devis Farm Manager — SterveAI Systems",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;\">\n  <div style=\"background:linear-gradient(135deg,#065f46,#1a7a52);padding:32px 24px;border-radius:12px 12px 0 0;text-align:center;\">\n    <div style=\"font-size:32px;margin-bottom:8px;\">🌿</div>\n    <h1 style=\"color:white;font-size:22px;margin:0;\">Farm Manager</h1>\n    <p style=\"color:rgba(255,255,255,0.7);font-size:13px;margin:4px 0 0;\">by SterveAI Systems</p>\n  </div>\n  <div style=\"background:white;padding:28px 24px;border:1px solid #e2e8f0;border-top:none;\">\n    <p style=\"color:#475569;font-size:14px;margin-bottom:4px;\">Bonjour <strong>{{ $('Webhook Formulaire').item.json.body.nom }}</strong>,</p>\n    <p style=\"color:#475569;font-size:14px;margin-bottom:20px;\">Merci pour votre intérêt pour Farm Manager. Voici votre devis personnalisé :</p>\n    <hr style=\"border:none;border-top:1px solid #e2e8f0;margin:20px 0;\"/>\n    {{ $json.text }}\n    <hr style=\"border:none;border-top:1px solid #e2e8f0;margin:20px 0;\"/>\n    <p style=\"color:#475569;font-size:13px;\">Pour toute question, répondez directement à cet email.</p>\n  </div>\n  <div style=\"background:#f8fafc;padding:16px 24px;border-radius:0 0 12px 12px;border:1px solid #e2e8f0;border-top:none;text-align:center;\">\n    <p style=\"color:#94a3b8;font-size:12px;margin:0;\">© 2026 SterveAI Systems · contact@sterveshop.cloud</p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "email-prospect-node",
      "name": "Email → Prospect",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [680, 280]
    },
    {
      "parameters": {
        "sendTo": "contact@sterveshop.cloud",
        "subject": "=🌿 Nouvelle demande — {{ $('Webhook Formulaire').item.json.body.nom }}",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:500px;\">\n  <h2 style=\"color:#065f46;\">🌿 Nouvelle demande de devis</h2>\n  <table style=\"width:100%;border-collapse:collapse;font-size:14px;\">\n    <tr><td style=\"padding:8px;background:#f8fafc;font-weight:bold;width:120px;\">Nom</td><td style=\"padding:8px;border-bottom:1px solid #e2e8f0;\">{{ $('Webhook Formulaire').item.json.body.nom }}</td></tr>\n    <tr><td style=\"padding:8px;background:#f8fafc;font-weight:bold;\">Email</td><td style=\"padding:8px;border-bottom:1px solid #e2e8f0;\">{{ $('Webhook Formulaire').item.json.body.email }}</td></tr>\n    <tr><td style=\"padding:8px;background:#f8fafc;font-weight:bold;\">Situation</td><td style=\"padding:8px;border-bottom:1px solid #e2e8f0;\">{{ $('Webhook Formulaire').item.json.body.situation }}</td></tr>\n    <tr><td style=\"padding:8px;background:#f8fafc;font-weight:bold;\">Message</td><td style=\"padding:8px;border-bottom:1px solid #e2e8f0;\">{{ $('Webhook Formulaire').item.json.body.message || '—' }}</td></tr>\n    <tr><td style=\"padding:8px;background:#f8fafc;font-weight:bold;\">Date</td><td style=\"padding:8px;\">{{ $('Webhook Formulaire').item.json.body.date }}</td></tr>\n  </table>\n  <br/>\n  <h3 style=\"color:#065f46;\">Devis envoyé au prospect :</h3>\n  {{ $('Claude — Générer le devis').item.json.text }}\n</div>",
        "options": {}
      },
      "id": "email-admin-node",
      "name": "Email → Toi (notification)",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [680, 480]
    }
  ],
  "connections": {
    "Webhook Formulaire": {
      "main": [
        [
          { "node": "Répondre OK", "type": "main", "index": 0 },
          { "node": "Claude — Générer le devis", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude — Générer le devis": {
      "main": [
        [
          { "node": "Email → Prospect", "type": "main", "index": 0 },
          { "node": "Email → Toi (notification)", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" }
}
