apps/farm-app/n8n-workflow-stock-alerte.json
{
  "name": "Farm Manager — Alerte Stock Bas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stock-alerte",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Stock Alerte",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "stock-alerte"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst produit = body.produit || 'Produit inconnu';\nconst ferme = body.ferme || 'Ferme inconnue';\nconst quantite = body.quantite_actuelle ?? 0;\nconst seuil = body.seuil_alerte ?? 0;\nconst unite = body.unite || 'unités';\n\nconst sujet = `⚠️ ALERTE STOCK — ${produit} (${ferme})`;\n\nconst messageEmail = `Bonjour,\n\nUne alerte de stock a été déclenchée automatiquement par Farm Manager.\n\n📦 Produit     : ${produit}\n🏡 Ferme       : ${ferme}\n📉 Stock actuel : ${quantite} ${unite}\n🚨 Seuil alerte : ${seuil} ${unite}\n\nMerci de procéder au réapprovisionnement dans les plus brefs délais.\n\n---\nFarm Manager — Système automatisé`;\n\nconst messageWhatsApp = `⚠️ *ALERTE STOCK*\n\n📦 *${produit}*\n🏡 ${ferme}\n\n📉 Stock : *${quantite} ${unite}*\n🚨 Seuil : ${seuil} ${unite}\n\nRéapprovisionnement nécessaire.`;\n\nreturn [{\n  json: {\n    produit,\n    ferme,\n    quantite,\n    seuil,\n    unite,\n    sujet,\n    messageEmail,\n    messageWhatsApp,\n    timestamp: new Date().toLocaleString('fr-TN', { timeZone: 'Africa/Tunis' })\n  }\n}];"
      },
      "id": "prepare-message",
      "name": "Préparer le message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "fromEmail": "alertes@ferme-manager.com",
        "toEmail": "fournisseur@example.com",
        "subject": "={{ $json.sujet }}",
        "emailType": "text",
        "message": "={{ $json.messageEmail }}"
      },
      "id": "email-fournisseur",
      "name": "Email Fournisseur",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [720, 200],
      "notes": "Remplacer toEmail par l'email réel du fournisseur"
    },
    {
      "parameters": {
        "fromEmail": "alertes@ferme-manager.com",
        "toEmail": "patron@example.com",
        "subject": "={{ $json.sujet }}",
        "emailType": "text",
        "message": "={{ $json.messageEmail }}"
      },
      "id": "email-patron",
      "name": "Email Patron",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [720, 400],
      "notes": "Remplacer toEmail par l'email réel du patron"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Alerte traitée\" }"
      },
      "id": "webhook-response",
      "name": "Réponse Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook Stock Alerte": {
      "main": [[{ "node": "Préparer le message", "type": "main", "index": 0 }]]
    },
    "Préparer le message": {
      "main": [[
        { "node": "Email Fournisseur", "type": "main", "index": 0 },
        { "node": "Email Patron", "type": "main", "index": 0 }
      ]]
    },
    "Email Fournisseur": {
      "main": [[{ "node": "Réponse Webhook", "type": "main", "index": 0 }]]
    },
    "Email Patron": {
      "main": [[{ "node": "Réponse Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["farm-manager", "alertes", "stock"]
}
